* {
  box-sizing: border-box;
}

body {
  background-color: #bbb;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  form {
    flex-basis: 0;
    min-width: 30vw;
  }
}

main {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  height: 100%;
  margin: 0;
}

#cell-selector,
#simulation-settings {
  display: flex;
  > div {
    margin-left: auto;
    margin-right: auto;
  }
  input {
    margin-left: 0;
    margin-right: 10px;
    width: auto;
  }
  label {
    display: inline-block;
    text-align: left;
  }
}

form label {
  display:block;
  color: black;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 600;
  text-align:right;
}

input {
  margin-left: 15px;
  margin-bottom: 10px;
  width: 53px;
}

svg {
  border: 2px dashed #222;
  box-sizing: content-box;
  stroke-width: 1px;
  stroke: black;
  stroke-linecap: round;
}

.substrate {
  fill: forestgreen;
  stroke: forestgreen;
}

.metal {
  fill: coral;
  stroke: coral;
}

.inverse {
  fill: forestgreen;
  stroke: coral;
}

.download {
  display: block;
  margin: 40px auto 0;
}
