* {
  box-sizing: border-box;
}

body {
  background-color: #777;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
}

main {
  display: grid;
  grid-auto-flow: column;
  grid-gap: 40px;
  height: 100%;
  margin: 0;
}

#cell-selector {
  text-align: center;
  label {
    display: inline-block;
  }
}

form label {
  display:block;
  color: black;
  font-size: 1.2rem;
  font-family: sans-serif;
  font-weight: 600;
  text-align:right;
}

input {
  width: 50px;
  margin-left: 15px;
  margin-bottom: 10px;
}

svg {
  stroke-width: 1px;
  stroke: black;
  stroke-linecap: round;
  border: 2px dashed #222;
  box-sizing: content-box;
}

.substrate {
  fill: forestgreen;
  stroke: forestgreen;
}

.metal {
  fill: coral;
  stroke: coral;
}

.inverse {
  fill: forestgreen;
  stroke: coral;
}

.radios {
  text-align: right;
}

.download {
  display: block;
  margin: 40px auto 0;
}
